<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
      @if (pageType !== 'add' && !managementId) {
        <div class="flex gap-2 col-span-12 items-center">
          <p-toggleswitch [(ngModel)]="allowEditValue" [ngModelOptions]="{ standalone: true }" (onChange)="toggleEditBtn('managementId')"> </p-toggleswitch>
          <label class="font-medium text-sm">
            {{ 'PAGES.MANAGEMENT_MEMBERS.FORM.QUESTION_ALLOW_EDIT' | translate }}
          </label>
        </div>
      }
      <!--  -->
      @if ((pageType !== 'add' && managementId) || !managementId) {
        <div class="form-col">
          <label class="text-middle mb-2">
            {{ 'PAGES.SHARE_FORM.MANAGEMENT' | translate }}
          </label>
          <app-prime-autocomplete
            [disabled]="pageType === 'edit' && !allowEdit()"
            [field]="'pageId'"
            [selectedOption]="selectedManagement"
            [suggestions]="filteredManagements"
            [formGroup]="form"
            (onSelect)="onManagementSelect($event)"
            [lazy]="false"
            (handleMethod)="getManagements($event)"
          ></app-prime-autocomplete>
        </div>
      }
      <div class="col-span-12 lg:col-span-3">
        <label class="text-middle mb-3">
          {{ 'PAGES.SHARE_FORM.IS_LEADER.TITLE' | translate }}
        </label>
        <div class="flex gap-3 items-center">
          <p-toggleswitch formControlName="isLeader"></p-toggleswitch>
          <span class="border rounded-full font-semibold text-sm py-1 px-3 transition-all gap-2 duration-300 inline-flex items-center" [ngClass]="form.get('isLeader')?.value ? isLeader.leaderStyle : isLeader.personStyle">
            <i class="text-base" [ngClass]="form.get('isLeader')?.value ? 'pi pi-star text-blue-500' : 'pi pi-user text-gray-500'"></i>
            {{ form.get('isLeader')?.value ? ('PAGES.SHARE_FORM.IS_LEADER.LEADER' | translate) : ('PAGES.SHARE_FORM.IS_LEADER.PERSON' | translate) }}
          </span>
        </div>
      </div>
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()" />
}
