<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
      <div class="form-col">
        <app-prime-input-text [formGroup]="form" controlName="title" [label]="'SETTINGS.STATISTICS.FORM.TITLE'"> </app-prime-input-text>
      </div>

      <div class="form-col">
        <app-prime-input-text [formGroup]="form" controlName="value" [label]="'SETTINGS.STATISTICS.FORM.VALUE'"> </app-prime-input-text>
      </div>

      <div class="form-col">
        <app-prime-input-text [formGroup]="form" controlName="iconPath" [label]="'SETTINGS.STATISTICS.FORM.ICON_PATH'"> </app-prime-input-text>
      </div>

      <div class="col-span-12">
        <label class="text-middle mb-3">
          {{ 'SETTINGS.SERVICES.FORM.IS_ACTIVE.TITLE' | translate }}
        </label>

        <div class="flex gap-3 items-center">
          <p-toggleswitch formControlName="isActive"></p-toggleswitch>

          <span class="border rounded-full font-semibold text-sm py-1 px-3 transition-all gap-2 duration-300 inline-flex items-center" [ngClass]="form.get('isActive')?.value ? isActive.activeStyle : isActive.offlineStyle">
            <i class="text-base" [ngClass]="form.get('isActive')?.value ? isActive.activeIcon : isActive.offlineIcon"></i>
            {{ form.get('isActive')?.value ? ('SETTINGS.SERVICES.FORM.IS_ACTIVE.ACTIVE' | translate) : ('SETTINGS.SERVICES.FORM.IS_ACTIVE.IN_ACTIVE' | translate) }}
          </span>
        </div>
      </div>
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()" />
}
