<div class="flex-column h-100 page-wrapper d-flex card">

  <div class="w-full">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        @for(tab of tabs; track tab.route) {
        <p-tab [value]="tab.route" [routerLink]="tab.route" routerLinkActive="active"
          class="flex items-center gap-2! text-inherit">
          <i [class]="tab.icon"></i>
          <span>{{ tab.label }}</span>
        </p-tab>
        }
      </p-tablist>
    </p-tabs>

    <!-- ✨ هنا المحتوى بيتغير حسب التاب -->
    <router-outlet></router-outlet>
  </div>

</div>