$primary: #2faf65; //add color theme style
$primary-light: #d69d53;
$secondary: #e7cfb4;
$secondary-light: rgba($secondary, 0.25);
$primary-dark: #897a68;
$secondary-dark: #e0c3a4;
$danger: #ef4444;
$warning: #f59e0b;
$light: #f4f4f5;
$green: #10b981;
$blue-light: #0099cb;
$page-bg: #f9f5e9;
$purple: #747cf3;
$white: white;
$black: black;
$dark: #1f2937;
$gray: #8e9aa0;
$dark-gray: #767676;
$dark-blue: #2a2a49;
$title-bg: #f4f4f7;
$text-light: #d9d9d9;
$text-dark: #212a36;
$middle: #9ca3af;
$success: #10b981;
$success-light: rgba($success, 0.11);
$error: #ef4444;
$error-light: rgba($error, 0.11);
$pending: #f59e0b;
$pending-light: rgba($pending, 0.11);

$box-shadow: rgba($primary-light, 0.05);
