<p-card class="m-0 p-2">
  @if (form) {
  <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
    @if (pageType !== 'add' && !sectorId) {
    <div class="flex gap-2 col-span-12 items-center">
      <p-toggleswitch [(ngModel)]="allowEdit" [ngModelOptions]="{ standalone: true }"
        (onChange)="toggleEditBtn('sectorId')">
      </p-toggleswitch>
      <label class="font-medium text-sm">هل تريد تعديل القطاع ؟</label>
    </div>
    }
    <!--  -->
    @if(pageType !== 'add' && sectorId || !sectorId){
    <div class="form-col">
      <label class="text-middle mb-3">{{ "القطاع" }}</label>
      <app-prime-autocomplete [disabled]="pageType === 'edit' && !allowEdit" [field]="'name'"
        [selectedOption]="selectedSector" [suggestions]="filteredSectors" [formGroup]="form"
        (onSelect)="onSectorSelect($event)" [lazy]="false" (handleMethod)="getSectors($event)"></app-prime-autocomplete>
    </div>
    }

    <div class="col-span-12 lg:col-span-3">
      <label class="text-middle mb-3">الحالة</label>
      <div class="flex gap-3 items-center">
        <p-toggleswitch formControlName="isLeader"></p-toggleswitch>
        <span
          class="border rounded-full font-semibold text-sm py-1 px-3 transition-all gap-2 duration-300 inline-flex items-center"
          [ngClass]="
            form.get('isLeader')?.value
              ? 'bg-blue-100 text-blue-700 border-blue-300'
              : 'bg-gray-100 text-gray-600 border-gray-300'
          ">
          <i class="text-base" [ngClass]="
              form.get('isLeader')?.value
                ? 'pi pi-star text-blue-500'
                : 'pi pi-user text-gray-500'
            "></i>
          {{ form.get("isLeader")?.value ? "ادمن" : "مستخدم" }}
        </span>
      </div>
    </div>
  </form>
  }
</p-card>

@if (form) {
<app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'Submit' : 'Save'"
  [buttonText]="pageType === 'add' ? 'اضافة' : 'حفظ'" (submit)="submit()" (cancel)="closeDialog()">
</app-submit-buttons>
}