<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-10 grid-cols-12" [formGroup]="form">
      <!-- <div class="col-lg-6">
      <app-prime-input-text [formGroup]="form" controlName="code" [label]="'الكود'">
      </app-prime-input-text>
    </div>

    <div class="col-lg-6">
      <app-prime-input-text [formGroup]="form" controlName="name" [label]="'اسم الحدث'">
      </app-prime-input-text>
    </div> -->
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()" />
}
