<p-dialog [(visible)]="deleteMainDialog" (onHide)="closeDeleteConfirmationDialog()" header="Header" [breakpoints]="{ '1199px': '90vw', '575px': '90vw' }" [modal]="true" class="p-fluid">
  <ng-template pTemplate="header">
    <div class="gap-2 inline-flex align-items-center justify-content-center">
      <h1 class="font-24 m-0 text-primary regular" dialog-title>{{ 'تأكيد الحذف' }}</h1>
    </div>
  </ng-template>
  <div class="flex flex-column mt-3 align-items-center justify-content-center">
    <p>{{ 'هل أنت متأكد أنك تريد حذفه؟' }}</p>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialogAction">
      <button class="font-14 text-white px-4 main-btn cancel" (click)="confirmDelete()">
        <label>{{ 'تأكيد' }}</label>
      </button>

      <button class="font-14 m-inline-start-3 text-white px-4 main-btn main" (click)="closeDeleteConfirmationDialog()">
        <label>{{ 'إلغاء' }}</label>
      </button>
    </div>
  </ng-template>
</p-dialog>
