<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
      <div class="form-col">
        <app-prime-input-text
          [formGroup]="form"
          controlName="title"
          [label]="'PAGES.PROGRAM_DETAILS.FORM.TITLE'"
        >
        </app-prime-input-text>
      </div>

      <div class="form-col">
        <app-prime-input-text
          [formGroup]="form"
          controlName="programCategory"
          [label]="'PAGES.PROGRAM_DETAILS.FORM.PROGRAM_CATEGORY'"
        >
        </app-prime-input-text>
      </div>

      <div class="col-span-12">
        <app-prime-input-text
          [formGroup]="form"
          controlName="content"
          [label]="'PAGES.PROGRAM_DETAILS.FORM.CONTENT'"
          [inputType]="'textarea'"
        >
        </app-prime-input-text>
      </div>

      <div class="form-col">
        <app-prime-input-text
          [formGroup]="form"
          controlName="facultyId"
          [label]="'PAGES.PROGRAM_DETAILS.FORM.FACULTY'"
        >
        </app-prime-input-text>
      </div>

      @if ((pageType !== "add" && programId) || !programId) {
        <div class="form-col">
          <label class="font-bold font-14 text-middle mb-2">
            {{ "PAGES.SHARE_FORM.PROGRAM" | translate }}
          </label>
          <app-prime-autocomplete
            [disabled]="!!programId"
            [field]="'pageId'"
            [selectedOption]="selectedProgram"
            [suggestions]="filteredPrograms"
            [formGroup]="form"
            (onSelect)="onProgramSelect($event)"
            [lazy]="false"
            (handleMethod)="getPrograms($event)"
          ></app-prime-autocomplete>
        </div>
      }
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons
    [isSubmitDisabled]="form.invalid"
    [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'"
    (submit)="submit()"
    (cancel)="redirect()"
  />
}
