@if (form) {
  <form method="post" class="grid py-4 gap-3 grid-cols-12" [formGroup]="form">
    <div class="form-col">
      <label class="text-middle mb-2">
        {{ 'PAGES.SHARE_FORM.PAGE' | translate }}
      </label>
      <app-prime-autocomplete [field]="'title'" [selectedOption]="selectedPage" [suggestions]="filteredPages" [formGroup]="form" (onSelect)="onPageSelect($event)" [lazy]="false" (handleMethod)="getPages($event)"></app-prime-autocomplete>
    </div>
    <div class="form-col">
      <label class="text-middle mb-2">
        {{ 'PAGES.SHARE_FORM.ABOUT' | translate }}
      </label>
      <app-prime-autocomplete [field]="'content'" [selectedOption]="selectedAbout" [suggestions]="filteredAbout" [formGroup]="form" (onSelect)="onAboutSelect($event)" [lazy]="false" (handleMethod)="getAbouts($event)"></app-prime-autocomplete>
    </div>
  </form>
}
@if (form) {
  <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()" />
}
