<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
      @if (pageType !== 'add' && !sectorId) {
        <div class="flex gap-2 col-span-12 items-center">
          <p-toggleswitch [(ngModel)]="allowEditValue" [ngModelOptions]="{ standalone: true }" (onChange)="toggleEditBtn('sectorId')"> </p-toggleswitch>
          <label class="font-medium text-sm">
            {{ 'PAGES.SECTORS.QUESTION_ALLOW_EDIT' | translate }}
          </label>
        </div>
      }
      <!--  -->
      @if ((pageType !== 'add' && sectorId) || !sectorId) {
        <div class="form-col">
          <label class="text-middle mb-2">
            {{ 'PAGES.SHARE_FORM.SECTOR' | translate }}
          </label>
          <app-prime-autocomplete
            [disabled]="pageType === 'edit' && !allowEdit()"
            [field]="'name'"
            [selectedOption]="selectedSector"
            [suggestions]="filteredSectors"
            [formGroup]="form"
            (onSelect)="onSectorSelect($event)"
            [lazy]="false"
            (handleMethod)="getSectors($event)"
          ></app-prime-autocomplete>
        </div>
      }

      <div class="form-col">
        <app-prime-input-text [formGroup]="form" controlName="name" [label]="'PAGES.SECTOR_PROGRAM.FORM.NAME'"> </app-prime-input-text>
      </div>
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()" />
}
