<p-card class="m-0 p-2">
  @if (form) {
  <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
    @if (pageType !== 'add' && !sectorId) {
    <div class="flex gap-2 col-span-12 items-center">
      <label class="text-middle mb-3">الحالة</label>
      <p-toggleswitch [(ngModel)]="allowEdit" [ngModelOptions]="{ standalone: true }"
        (onChange)="toggleEditBtn('sectorId')">
      </p-toggleswitch>
      <label class="font-medium text-sm">هل تريد التعديل علي القطاع ؟</label>
    </div>
    }
    <!--  -->
    @if(pageType !== 'add' && sectorId || !sectorId){
    <div class="form-col">
      <label class="text-middle mb-2">{{ "القطاع" }}</label>
      <app-prime-autocomplete [disabled]="pageType === 'edit' && !allowEdit" [field]="'name'"
        [selectedOption]="selectedSector" [suggestions]="filteredSectors" [formGroup]="form"
        (onSelect)="onSectorSelect($event)" [lazy]="false" (handleMethod)="getSectors($event)"></app-prime-autocomplete>
    </div>
    }

    <div class="form-col">
      <app-prime-input-text [formGroup]="form" controlName="name" [label]="'اسم البرنامج'">
      </app-prime-input-text>
    </div>


  </form>
  }
</p-card>

@if (form) {
<app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'Submit' : 'Save'"
  [buttonText]="pageType === 'add' ? 'اضافة' : 'حفظ'" (submit)="submit()" (cancel)="closeDialog()">
</app-submit-buttons>
}