<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid gap-4 grid-cols-12" [formGroup]="form">
      <div class="col-span-12">
        <app-prime-input-text
          [formGroup]="form"
          controlName="title"
          [label]="'عنوان المنشور'"
        >
        </app-prime-input-text>
      </div>

      <div class="col-span-12">
        <app-prime-input-text
          [formGroup]="form"
          controlName="content"
          [label]="'المحتوى'"
          [inputType]="'textarea'"
        >
        </app-prime-input-text>
      </div>

      <div class="col-span-12 lg:col-span-4">
        <label class="text-middle mb-2">{{ "حالة المنشور" }}</label>
        <div
          class="col field d-flex justify-content-evenly"
          style="flex-grow: 8"
        >
          @for (statusOption of statusOptions; track $index) {
            <app-prime-radio-button
              [formGroup]="form"
              controlName="status"
              [groupName]="'typeGroup'"
              class="check"
              [value]="statusOption.nameEn"
              [label]="statusOption.nameAr"
            >
            </app-prime-radio-button>
          }
        </div>
      </div>
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons
    [isSubmitDisabled]="form.invalid"
    [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SEND'"
    (submit)="submit()"
    (cancel)="redirect()"
  />
}
