<p-card class="m-0 p-2">
  @if (form) {
  <form method="post" class="grid grid-cols-12 gap-2" [formGroup]="form">
    <div class="form-col">
      <app-prime-input-text [formGroup]="form" controlName="subTitle" [label]="'العنوان الفرعي'">
      </app-prime-input-text>
    </div>

    <div class="form-col">
      <app-prime-input-text [formGroup]="form" controlName="place" [label]="'المكان'">
      </app-prime-input-text>
    </div>
    <div class="form-col">
      <label class="text-middle mb-2">{{ 'عنوان الصفحة' }}</label>
      <app-prime-autocomplete [field]="'title'" [selectedOption]="selectedPage" [suggestions]="filteredPages"
        [formGroup]="form" (onSelect)="onPageSelect($event)" [lazy]="false"
        (handleMethod)="getPages($event)"></app-prime-autocomplete>
    </div>
    <div class="form-col">
      <label class="text-middle mb-2">{{ 'تسعير عن الجامعة' }}</label>
      <app-prime-autocomplete [field]="'content'" [selectedOption]="selectedAbout" [suggestions]="filteredAbout"
        [formGroup]="form" (onSelect)="onAboutSelect($event)" [lazy]="false"
        (handleMethod)="getAbouts($event)"></app-prime-autocomplete>
    </div>
  </form>
  }
</p-card>

@if (form) {
<app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'Submit' : 'Save'"
  (submit)="submit()" (cancel)="closeDialog()">
</app-submit-buttons>
}