.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteSelected {
    margin-top: -4.8%;
    margin-bottom: 20px;
    margin-right: 80%;
}
.icon {
    font-size: 25px !important;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}
:host ::ng-deep {
    .p-component {
        font-size: unset !important;
    }
    /**Setting Table Container Border */
    .p-datatable > .p-datatable-table-container {
        border-top-left-radius: 11.48px;
        border-top-right-radius: 11.48px;
        // border: 2px solid rgba(6, 3, 75, 0.5);
    }
    .p-datatable {
        box-shadow: 1px 2px 10px var(--primary-color);
        border-radius: 11.48px;

        // border-top-left-radius: 11.48px;
        // border-top-right-radius: 11.48px;
        /**Setting Table Header Row Styles */
        .p-datatable-thead {
            .table-header {
                background-color: white;
            }
            .table-header > th {
                text-align: center;
                font-size: 14px !important;
                // border-bottom: 2px solid #0884ed;
                // background-color: var(--secondary-color);
                &:hover,
                 &:focus,
                &:active {
                    background-color: #0000000a;
                    // color:  #0884ed;
                    color:  black;
                }
            }
            .table-search-controls > th {
                text-align: center;
            }
        }

        td {
            font-size: 14px !important;
        }
        /** Table Body Styles */

        tbody > tr {
            a {
                color: #028bff;
            }
            a:hover,
            a:focus,
            a:active {
                color: #222;
                outline: 0;
            }
        }

        tbody > tr:nth-child(odd) {
            background-color: #f2f3f8;
        }

        tbody > tr > td {
            padding: 5px;
            text-align: center;
            border: none !important;
            // border-top: 1px solid #0884ed !important;
        }

        .pi-sort-alt {
            color: #fff;
        }
    }

    .search-box {
        border: 1px solid  var(--primary-color) !important;
        text-align: center;
    }
    .search-box::placeholder {
        font-size: 70%; /* adjust this value as needed */
        text-align: center;
    }

    .has-search {
        .form-control {
            padding-left: 2.375rem;
        }
        .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #343a40;
        }
    }

    .rtl {
        .p-paginator {
            .p-paginator-element {
                transform: rotate(180deg);
            }

            .p-paginator-pages {
                .p-paginator-element {
                    transform: none;
                }
            }
        }
    }

    .trueValue,
    .falseValue {
        color: white;
        width: 35px;
        height: 35px;
        padding: 7px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .trueValue i,
    .falseValue i {
        font-size: 20px;
        font-weight: 600;
    }

    .trueValue {
        background-color: rgba(56, 199, 20, 1);
    }

    .falseValue {
        background-color: rgba(235, 0, 0, 1);
    }

    .search-box {
        &::placeholder {
            height: 100%;
            line-height: 1.5;
        }
    }
    @media screen and (max-width: 767px) {
        .p-datatable > .p-datatable-table-container {
            overflow: auto !important;
        }
    }
}
