<p-card class="m-0 p-2">
  @if (form) {
    <form method="post" class="grid grid-cols-12 gap-4" [formGroup]="form">
      @if (pageType !== "add" && !sectorId) {
        <div class="flex gap-2 col-span-12 items-center">
          <p-toggleswitch
            [(ngModel)]="allowEdit"
            [ngModelOptions]="{ standalone: true }"
            (onChange)="toggleEditBtn('sectorId')"
          >
          </p-toggleswitch>
          <label class="font-medium text-sm"
            >هل تريد التعديل علي القطاع ؟</label
          >
        </div>
      }
      <!--  -->
      @if ((pageType !== "add" && sectorId) || !sectorId) {
        <div class="form-col">
          <label class="text-middle mb-2">{{ "القطاع" }}</label>
          <app-prime-autocomplete
            [disabled]="pageType === 'edit' && !allowEdit"
            [field]="'name'"
            [selectedOption]="selectedSector"
            [suggestions]="filteredSectors"
            [formGroup]="form"
            (onSelect)="onSectorSelect($event)"
            [lazy]="false"
            (handleMethod)="getSectors($event)"
          ></app-prime-autocomplete>
        </div>
      }

      <div class="form-col">
        <label class="text-middle mb-2">{{ "المنشور" }}</label>
        <app-prime-autocomplete
          [field]="'title'"
          [selectedOption]="selectedPost"
          [suggestions]="filteredPosts"
          [formGroup]="form"
          (onSelect)="onPostSelect($event)"
          [lazy]="false"
          (handleMethod)="getPosts($event)"
        ></app-prime-autocomplete>
      </div>
    </form>
  }
</p-card>

@if (form) {
  <app-submit-buttons
    [isSubmitDisabled]="form.invalid"
    [submitBtnLabel]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SEND'"
    (submit)="submit()"
    (cancel)="redirect()"
  />
}
