<p-card class="m-0 p-2">
  @if (form) {
  <form method="post" class="row" [formGroup]="form">

    <div class="col-lg-6">
      <app-prime-input-text [formGroup]="form" controlName="title" [label]="'العنوان'"></app-prime-input-text>
    </div>

    <div class="col-lg-6">

      <app-prime-input-text [formGroup]="form" controlName="iconPath"
        [label]="'رمز الأيقونة (Icon Path)'"></app-prime-input-text>
    </div>

    <div class="col-12">
      <app-prime-input-text [formGroup]="form" controlName="description" [label]="'الوصف'"
        [inputType]="'textarea'"></app-prime-input-text>
    </div>

    <div class="mt-2 col-span-12 md:col-span-6">
      <label class="text-middle mb-3">الحالة</label>

      <div class="flex gap-3 items-center">
        <p-toggleswitch formControlName="isActive"></p-toggleswitch>

        <span
          class="border rounded-full font-semibold text-sm py-1 px-3 transition-all gap-2 duration-300 inline-flex items-center"
          [ngClass]="
        form.get('isActive')?.value
          ? 'bg-green-100 text-green-700 border-green-300'
          : 'bg-red-100 text-red-700 border-red-300'
      ">
          <i class="text-base" [ngClass]="
          form.get('isActive')?.value
            ? 'pi pi-check-circle text-green-500'
            : 'pi pi-times-circle text-red-500'
        "></i>
          {{ form.get('isActive')?.value ? 'نشط' : 'غير نشط' }}
        </span>
      </div>
    </div>


  </form>
  }
</p-card>

@if (form) {
<app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'إضافة' : 'حفظ'"
  (submit)="submit()" (cancel)="closeDialog()">
</app-submit-buttons>
}