<p-card class="m-0 p-2">
  @if (form) {
  <form method="post" class="row" [formGroup]="form">

    <div class="col-lg-6">
      <app-prime-input-text [formGroup]="form" controlName="title" [label]="'العنوان'"></app-prime-input-text>
    </div>

    <div class="col-lg-6">

      <app-prime-input-text [formGroup]="form" controlName="iconPath"
        [label]="'رمز الأيقونة (Icon Path)'"></app-prime-input-text>
    </div>

    <div class="col-12">
      <app-prime-input-text [formGroup]="form" controlName="description" [label]="'الوصف'"
        [inputType]="'textarea'"></app-prime-input-text>
    </div>

    <div class="col-12 mt-2">
      <label class="font-semibold d-block mb-2">الحالة</label>
      <p-toggleswitch formControlName="isActive"></p-toggleswitch>
      <span class="ms-2">{{ form.get('isActive')?.value ? 'نشط' : 'غير نشط' }}</span>
    </div>

  </form>
  }
</p-card>

@if (form) {
<app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'إضافة' : 'حفظ'"
  (submit)="submit()" (cancel)="closeDialog()">
</app-submit-buttons>
}