<div class="flex-column h-100 page-wrapper d-flex card">
  <app-prime-title-toolbar
    [pageTitle]="'الواجهة الرئيسية'"
  ></app-prime-title-toolbar>

  <div class="dataBox">
    <a class="addLink">
      <button
        class="border-radius-2 font-14 mt-2 mt-sm-0 py-1 px-2 main-btn align-self-center main"
        (click)="openAdd()"
        type="button"
        pButton
        pRipple
      >
        <div class="d-flex align-items-center">
          <i class="font-18 m-inline-end-1 bx bx-plus"></i>
          <span class="p-inline-end-1">اضافة</span>
        </div>
      </button>
    </a>

    @if (tableOptions) {
      <div class="mt-4">
        <app-prime-data-table
          (event)="handleEvent($event)"
          [tableOptions]="tableOptions"
          [data]="data()"
          [totalCount]="totalCount()"
          [pageSize]="dataTableService.opt.pageSize"
        >
        </app-prime-data-table>
      </div>
    }
  </div>
</div>
